{% extends "base_auth.html" %}
{% load static %}


{% block content %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Register</h1>


    {% include "partials/_messages.html" %}



    
    <div class="form-floating">
        <input type="text" name="username" class="form-control" id="usernameField" placeholder="Username" value="{{fieldsValues.username}}">
        <label for="floatingInput">Username</label>
    </div>
    <div class="invalid_feedback invalid-feedback" style="display:none;">
    </div>
    
    <div class="form-floating">
        <input type="email" name="email" class="form-control" id="emailField" placeholder="name@example.com" value="{{fieldsValues.email}}">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="emailFeedBackArea invalid-feedback" style="display:none;">
    </div>

    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="passwordField" placeholder="Password">
        <label for="floatingPassword">Password</label>
        <small class="float-end py-2 showPasswordToggle">SHOW</small>
    </div>
    

    {% comment %} <div class="checkbox mb-3">
        <label>
        <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div> {% endcomment %}
    <button class="w-100 btn btn-lg btn-primary submit-btn" value="Register" type="submit">Register</button>
</form>

<script src="{% static 'js/register.js' %}" > </script>
{% endblock content %}